apiVersion: v1
kind: Service
metadata:
  name: myapp
spec:
  type: NodePort
  selector:
    app: myapp
    version: blue
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080 # External NodePort
