apiVersion: v1
kind: Service
metadata:
  name: webapp
spec:
  type: NodePort
  selector:
    app: webapp
    version: blue
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080 # External NodePort
